<html>
  <head>
    <title>{% block title%}{{ title }}{% end %}</title>
  </head>
  <body>
    <div>
      {% block msg %}{{ message }}{% end %}
    </div>
    <div>
      <ul>
        {% for u in users %}
        <li>{{ u.first_name }} {{ u.last_name }} {{ u.email }}</li>
        {% end %}
      </ul>
    </div>
    <div>
      <form action="/user" method="post">
        <label for="firstname">First name:</lable>
        <input type="text" name="firstname"/>
        <label for="lastname">Last name:</lable>
        <input type="text" name="lastname"/>
        <label for="email">Email:</lable>
        <input type="text" name="email"/>
        <input type="submit" value="Create"/>
      </form>
    </div>
  </body>
</html>
