{% extends 'base.html' %}

{% block header %}
<span>{{message}}</span> or <a href="/signup">Signup</a>
{% end %}
{% block main %}

  <form action="/login" method="post" id="loginform">
    <div>
        <span id="error">{{errormsg}}</span>
    </div>
    <fieldset>
        <legend>Email</legend>
        <input type="text" name="email" id="email" value=""/>
    </fieldset>

    <fieldset>
        <legend>Password</legend>
        <input type="password" name="password" id="password" value=""/>
    </fieldset>

    <fieldset>
        <input type="submit" value="Signup" id="submit"/>
    </fieldset>
</form>
{% end %}
