{% extends 'base.html' %}

{% block header %}
<span>{{message}}</span> or <a href="/signup">Signup</a>
{% end %}
{% block main %}

<form action="/login" method="post">
    <div id="error">
        <span>{{errormsg}}</span>
    </div>
    <fieldset id="email">
        <legend>Email</legend>
        <input type="text" name="email" value=""/>
    </fieldset>

    <fieldset id="password">
        <legend>Password</legend>
        <input type="password" name="password" value=""/>
    </fieldset>

    <fieldset id="submit">
        <input type="submit" value="Signup"/>
    </fieldset>
</form>
{% end %}
