{% extends 'base.html' %}

{% block main %}

  <form action="/signup" method="post" id="signupform">

    <div>
        <span id="error">{{errormsg}}</span>
    </div>
    <fieldset>
        <legend>Email</legend>
        <input type="text" name="email" id="email" value=""/>
    </fieldset>

    <fieldset>
        <legend>Password</legend>
        <input type="password" name="password" id="password" value=""/>
    </fieldset>

    <fieldset>
        <legend>First name</legend>
        <input type="text" name="firstname" id="firstname" value=""/>
    </fieldset>

    <fieldset>
        <legend>Last name</legend>
        <input type="text" name="lastname" id="lastname" value=""/>
    </fieldset>

    <fieldset>
        <input type="submit" id="submit" value="Signup"/>
    </fieldset>
  </form>
{% end %}
